<!DOCTYPE html>
<html>
  <head>
    <title>Todo List<%=" | " +yield(:title) unless yield(:title).blank? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-with-image">
    <nav class='sticky flex flex-row top-0 w-full h-9 bg-black text-white '>
      <div class='pt-1 px-3'>
        <%= nav_link 'Home', root_path %>
        <%= nav_link 'Task List', tasks_path %>
        <%= nav_link 'New Task', '/tasks/new' %>
      </div>
    </nav>
    <main class="container mx-auto mt-28 px-5">
      <% if @show_title %>
      <div id="title" class="row">
        <div class="col">
          <h1><%= yield(:title) %></h1>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
